[submodule "backend"]
	path = backend
	url = https://github.com/AlfredoRamos/csp-reporter-backend.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/AlfredoRamos/csp-reporter-frontend.git
	branch = dev
